<!DOCTYPE HTML>
<html>

<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
	
	
	<style>

	</style>
	
	
	<script type="text/javascript">
	
	var wsPort = 7778;			//websocket port, this must be consistant with the app.js server	

	var ws = null;
	var maxChannelNumber = 0;
	var defaultValue = 0;		//delete this if its not necessary
	var debugLog = false;
	
	var plotStates = [];
	var dataLength = 5000; 		//number of points visible on chart
	
	var channelNum = 0;
	var renderPeriod = 30;
	
	
	var plotWSRes = function (WSRes){
	
		var data = JSON.parse(WSRes.data);
		var values = data.values;
		
		plotStates.forEach(function each(state, index){
			var value = parseFloat(values[index]); //probably don't need this
			updatePlot(state, value);
		});

		//debugging purposes
		if (debugLog){
			var messageBox = document.getElementById("messageBox");
			messageBox.innerHTML += "<div>Channel Values: "+values.toString()+"\n"+"</div>";
		}
		
		///////////
		var tick = data.tick;
		var output = data.output;
		if(tick && output){
			if(output == tick){
				if (output == 2){
					$("#tick").html("Flex");	
					$("#output").html("Flexing");	
				} else {
					$("#tick").html("Release");	
					$("#output").html("Releasing");	
				}
				$("#output").css('color', 'green');
				$("#tick").css('color', 'green');
			} else {
				if (output == 2){
					$("#tick").html("Release");	
					$("#output").html("Flexing");	
				} else {
					$("#tick").html("Flex");	
					$("#output").html("Releasing");	
				}
				$("#output").css('color', 'red');
				$("#tick").css('color', 'red');
			}
		}
	};
	
	var renderPlots = function(){
		plotStates.forEach(function each(state, index){
			state.chart.render();
		});
	};
	
	function initializePlot(){
	
		plotStates.forEach(function each(state, index){
			for(i = 0; i < dataLength / 2;i++)
				updatePlot(state, defaultValue);
			state.chart.render();
		});
	};
	
	
	function createPlotState(plotName){
		//number of datapoints to be displayed
		var plotState = {};
		
		plotState.dps = []; 			//data points value array
		plotState.xVal = 0;		  		//the x value axis of the chart
		
		//create the chart to be displayed using canvasJS
		plotState.chart = new CanvasJS.Chart(plotName,{
			title :{
				text: plotName
			},			
			data: [{
				type: "line",
				dataPoints: plotState.dps 
			}],
			zoomEnabled:true
		});
		
		return plotState;
	}
	
	//function called to update the chart
	var updatePlot = function (plotState, yVal) {
	
		plotState.dps.push({
			x: plotState.xVal,
			y: yVal
		});
		plotState.xVal++;
		
		if (plotState.dps.length > dataLength)
			plotState.dps.shift();
		
	};
	
	//function called to connect to the websocket
	function WSConnect(){
	
		//check if websocket is supported
		if ("WebSocket" in window) {
		

			//create connection
			ws = new WebSocket("ws://localhost:" + wsPort + "/");

			//this function be deleted
			ws.onopen = function(){
				ws.send("Notice me senpai");
			};
			
			ws.onmessage = null;

			ws.onclose = function() { 
				// websocket is closed.
				alert("Connection is closed..."); 
				
			};
		} else {
		   alert("WebSocket NOT supported");
		}
	};


	$(document).ready(function(){
		channelNum = 0;
		$.ajax({
			type: "POST",
			url: "http://localhost:3000/getChannels",
			contentType: 'application/json',
		   //data: {format: 'json'},
			success: function(data, status, xhr) {
				var signalGroupName = JSON.parse(data).signalGroupName;
				var channels = JSON.parse(data).channels;
				
				$("#signalGroupName").val(signalGroupName);
				channels.forEach( function(channel, index){
				});
				
				channels.forEach( function(channel, index){
					//alert(JSON.stringify(createPlotState("EMG" + channel)));
				
					$("#graphTable").append('<div class="col-md-6"><div id="' + "CH-" + channelNum + '" style="height: 300px;"></div></div>');	
					
					var state = createPlotState("CH-" + channelNum);
					
					plotStates.push(state);
					updatePlot(state, defaultValue);
					state.chart.render();
					
					channelNum++;
					maxChannelNumber++;
				});
				
				WSConnect();
			},
			error: function(xhr, status, error) {
				alert("Error getting max channel number! Server response: " + xhr.responseText);
				window.location.href = "/";
			}
		});
		
		$( "#record" ).click(function() {
			//check if the an action is already activated
			if(false && isOtherActionActive("record")){
				alert("Error! Please stop the other actions before performing this one");
				return null;
			}
		
			$("#record").toggleClass('btn-default');
			
			$.ajax({
				type: "POST",
				url: "http://localhost:3000/record",
				contentType: 'application/json',
			   //data: {format: 'json'},
				success: function(data, status, xhr) {
					if (ws.onmessage){
						ws.onmessage = null;
						clearInterval(schedulerID);
					} else {
						ws.onmessage = plotWSRes;
						schedulerID = setInterval( renderPlots, renderPeriod); 
					}
				},
				
				error: function(xhr, status, error) {
					$("#record").toggleClass('btn-default');
					alert("Error in recording! Server response: " + xhr.responseText); //error ___ is still active
				}
			});
		});
		
		$( "#playback" ).click(function() {
			//check if the an action is already activated
			if(false && isOtherActionActive("playback")){
				alert("Error! Please stop the other actions before performing this one");
				return null;
			}
		
			$("#playback").toggleClass('btn-default');
			
			$.ajax({
				type: "POST",
				url: "http://localhost:3000/playback",
				contentType: 'application/json',
			   //data: {format: 'json'},
				success: function(data, status, xhr) {
					if (ws.onmessage){
						ws.onmessage = null;
						clearInterval(schedulerID);
					} else {
						//initializePlot();
						ws.onmessage = plotWSRes;
						schedulerID = setInterval( renderPlots, renderPeriod); 
					}
				},
				
				error: function(xhr, status, error) {
					$("#playback").toggleClass('btn-default');
					alert("Error in playback! Server response: " + xhr.responseText); //error ___ is still active
				}
			});
		});
		
		$( "#save" ).click(function() {
			//check if the an action is already activated
			if(false && isOtherActionActive("save")){
				alert("Error! Please stop the other actions before performing this one");
				return null;
			}
		
			$("#save").toggleClass('btn-default');
			//alert($("#signalGroupName").val());
			var signal2 = {signalGroupName: $("#signalGroupName").val()};
			
			$.ajax({
				type: "POST",
				url: "http://localhost:3000/save",
				contentType: 'application/json',
				data: JSON.stringify(signal2),
				success: function(data, status, xhr) {
					window.location.href = "/";
				},
				
				error: function(xhr, status, error) {
					$("#save").toggleClass('btn-default');
					alert("Error in save! Server response: " + xhr.responseText); //error ___ is still active
				}
			});
		});
		
		$( "#cancel" ).click(function() {
			//check if the an action is already activated
			if(false && isOtherActionActive("cancel")){
				alert("Error! Please stop the other actions before performing this one");
				return null;
			}
		
			$("#cancel").toggleClass('btn-default');
			
			$.ajax({
				type: "POST",
				url: "http://localhost:3000/cancel",
				contentType: 'application/json',
				//data: JSON.stringify(signal2),
				success: function(data, status, xhr) {
					window.location.href = "/";
				},
				
				error: function(xhr, status, error) {
					$("#cancel").toggleClass('btn-default');
					alert("Error in cancel! Server response: " + xhr.responseText); //error ___ is still active
				}
			});
		});
		
		$( "#delete" ).click(function() {
			//check if the an action is already activated
			if(false && isOtherActionActive("delete")){
				alert("Error! Please stop the other actions before performing this one");
				return null;
			}
		
			$("#delete").toggleClass('btn-default');
			
			$.ajax({
				type: "POST",
				url: "http://localhost:3000/delete",
				contentType: 'application/json',
				//data: JSON.stringify(signal2),
				success: function(data, status, xhr) {
					window.location.href = "/";
				},
				
				error: function(xhr, status, error) {
					$("#delete").toggleClass('btn-default');
					alert("Error in save! Server response: " + xhr.responseText); //error ___ is still active
				}
			});
		});
		
		$( "#add" ).click(function() {
			//check if the an action is already activated
			if(false && isOtherActionActive("add")){
				alert("Error! Please stop the other actions before performing this one");
				return null;
			}
		
			$("#add").toggleClass('btn-default');

			
			$.ajax({
				type: "POST",
				url: "http://localhost:3000/add",
				contentType: 'application/json',
				//data: JSON.stringify(signal2),
				success: function(data, status, xhr) {
					//alert(channelNum);
					$("#graphTable").append('<div class="col-md-6"><div id="' + "CH-" + channelNum + '" style="height: 300px;"></div></div>');
					
					var newState = createPlotState("CH-" + channelNum);
							
					plotStates.push(newState);
					updatePlot(newState, defaultValue);
					plotStates[0].chart.render();
					newState.chart.render();
					channelNum++;
					
					//alert("qwe333" + plotStates.toString());
					$("#add").toggleClass('btn-default');
				},
				
				error: function(xhr, status, error) {
					$("#add").toggleClass('btn-default');
					alert("Error in save! Server response: " + xhr.responseText); //error ___ is still active
				}
			});
		});
	});
	</script>
	
	<script type="text/javascript">

	
	
	
	
	</script>
</head>
<body>

		<div id="mainTable" class="row" style="margin-left:5px;">
				<!-- this will be dynamic after add function -->
				<div id="graphTable" class="row">
				</div>
				
				<!-- tick toc special -->
				<div style="border-radius: 25px;height:100px;" class="col-md-12"  id="outputBox">
					<div id="tick" style="float:left; height: 100px;width:250px;font-size: 50px;text-align:center;border-radius: 25px;border: 2px solid #000000;"></div>
					<div id="output" style=" margin-left: 20px;float:left; height: 100px;width:250px;font-size: 50px;text-align:center;border-radius: 25px;border: 2px solid #000000;"></div>
				</div>
				
				<div id="nameInput" class="col-md-6"  style="margin-top:2em;margin-bottom:2em;">
				
					<label for="nameOfSignal">Signal name:</label>
					<input type="text" class="form-control" id="signalGroupName" placeholder="Please Enter a Name for This Signal">
				</div>
				
				<div id="controlMenu" class="col-md-12"  style="margin-bottom:2em;">
					
					<button id="record" type="button" class="btn btn-default btn-lg col-md-1 controlButton" style="color: black;">Record</button>
					<button id="playback" type="button" class="btn btn-default btn-lg col-md-1 controlButton">Playback</button>
					<button id="result" type="button" class="btn btn-lg col-md-1 controlButton">Result</button>
					<div class="col-md-1"></div>
					<button id="cancel" type="button" onclick="cancel()" class="btn btn-default btn-lg col-md-1 controlButton">Cancel</button>
					<button id="save" type="button" class="btn btn-default btn-lg col-md-1 controlButton">Save</button>
					
				</div>
				
				<div id="addMenu" class="col-md-12" style="margin-bottom:1em;">
					<button id="add" type="button" class="btn btn-default btn-lg col-md-2 controlButton">Add Channel</button>
				</div>
				<!--<div id="messageBox" class="col-md-12" style="margin-bottom:3em;">Debug Log</div>-->
				
				<div id="deleteMenu" class="col-md-12" >
					<button id="delete" type="button" class="btn btn-default btn-sm controlButton">Delete</button>
				</div>
		</div>
		
	
	
	
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
