<!DOCTYPE HTML>
<html>

<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
	
	<script src="javascripts/test.js"></script>
	
</head>
<body>
		<input type="hidden" id="WSPort" name="WSPort" value="<%= WSPort %>">
		<div id="mainTable" class="row" style="margin-left:5px;">
		
				
				<div id="display" style="margin-top:2em;margin-bottom:2em;"></div>
				
				<div id="keyboard" style="margin-top:2em;margin-bottom:2em;"></div>
				
				<div id="controlMenu" class="col-md-12"  style="margin-bottom:2em;">
					<button id="start" type="button" class="btn btn-lg col-md-1 controlButton" style="color: black;">Start</button>
				</div>
		</div>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
