<!DOCTYPE HTML>
<html>

<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<script src="javascripts/jquery.min.js"></script>
	<script src="javascripts/canvasjs.min.js"></script>
	
	<script src="javascripts/graph.js"></script>
	
	<style>
				/* centered columns styles */
		#display {
			text-align:center;
			font-size: 120px;
			margin-top:2em;
			margin-bottom:0px;
			height: 180px;
		}
		#keyboard {
			text-align:center;
			font-size: 40px;
			height: 140px;
			margin-left: 10px;
			margin-right: 30px;
		}
		.level3{
			padding: 0;
			height: 55px;
			width: 45px;
		
		}
		.level1{
			padding: 0;
		
		}
		.level22{
			padding: 0;
		
		}
		.level1{
			padding: 0;
			border-style: solid;
		}
		#slider{
			text-align:center;
			width:100%;
			height:100px;
		}
		.sliderBox{
			text-align:center;
			margin: 10px auto;
			height:80px;
			width: auto;
		}
		.sliderCol8{
			padding: 0;
			text-align:center;
			font-size: 40px;
			height: 55px;
			width: 55px;
		}
	</style>
	
	<script src="javascripts/test.js"></script>
	
</head>
<body>
		<input type="hidden" id="WSPort" name="WSPort" value="<%= WSPort %>">
		<div id="mainTable" class="row" style="margin-left:5px;">
				
				<div id="display">
					<div id="displayLevel1">
						<span id="message"></span><span id="cursor">|</span>
					</div>
				</div>
				<hr>
				<div id="keyboard" style="">
				
				</div>
				<hr>
				<!--<div id="slider" style="display:none;">
				
				</div>
				<br>
				<hr>-->
				<div id="controlMenu" class="col-md-12"  style="margin-bottom:2em;">
					<button id="start" type="button" class="btn btn-default btn-lg col-sm-3 col-md-2 controlButton" style="color: black;">Start</button>
				</div>
		</div>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="javascripts/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
